* {
    box-sizing: border-box
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
    background-color: black;
    color: aliceblue;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    width: 100%;
    border: 5px black;
    background-color: dimgray;
    color: black;
    z-index: 10000;
}

.menu {
    text-align: center;
    list-style-type: none;
    background-color: dimgray;
    color: #ffffff;
    text-decoration: none;
    display: block;
    color: black;
}

.menu:hover {
    background-color: orange;
}

body {
    background-image: url(basketball_court_3d_wallpaper.jpg);
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

fieldset {
    background-color: black;
    opacity: .75;
    color: aliceblue;
    padding: 2px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #FFBF00;
    width: 100% ;
}

td,th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
th {
     padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}




.playertable {
    height: 450px;
    overflow-x: auto;
}

#logo {
    height: 75px;
}

#logo:hover {
    background-color: orange;
}

.index {
    background-color: black;
    opacity: .75;
    color: aliceblue;
    padding: 3px;
    margin-top: 40px;
    margin-right: 5px;
    border: solid 10px;
    border-color: dimgrey;
}
button{
    border-radius: 999em;
 	border: 2px solid #000;
 	background: #000;
    box-sizing: border-box;
    padding-left: 5px;
}

.round {
    box-sizing: none !important;
    
    display: inline-block;
    opacity: 0.5;
}

.contains {
    box-sizing: none !important;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.round:hover {
    
    opacity: 1.0;
}

.news {
    background-color: aliceblue;
    opacity: 1;
}
/* PLAYER COMPARISON - William */
#comparePlayers {
    border: 7px dotted #000;
	box-shadow: inset 0 3px 0 0 #000, 0 -3px 0 0 #000;
    float: inherit;
    align-content: center;
    background-image: url("Team/basketballBackground.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    text-align: center;
    margin-top: 50px;
    
}
/* PLAYER COMPARISON - William */
#playerTable1 {
    display: inline-block;
}
/* PLAYER COMPARISON - William */
#player1 {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 25px;
}
/* PLAYER COMPARISON - William */
#playerTable2 {
    display: inline-block;
    text-align: center;
}


/* PLAYER COMPARISON - William */
#player2 {
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 25px;
}
/* PLAYER COMPARISON - William */
#compareAgain {
    margin-top: 20px;
    text-align: center;
}
/* PLAYER COMPARISON - William */
#comparison {
    text-align: center;
}
/* PLAYER COMPARISON - William */
#legendComparison {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
}
/* PLAYER COMPARISON - William */
#fieldComparison {
    display: inline-block;
    width: 700px;
    margin-top: 150px;
    padding-bottom: 50px;
}
/* PLAYER COMPARISON - William */
#inputComp {
    margin-right: 80px;
}
/* PLAYER COMPARISON - William */
#playerComparison {
    text-align: center;
}
/* PLAYER COMPARISON - William */
img{
    border-radius: 999em;
 	border: 2px solid #000;
 	background: #000;
}
/* PLAYER COMPARISON - William */
#img1 {
    padding-top: 30px;
    padding-left: 30px;
    
    display:inline-block;
}
/* PLAYER COMPARISON - William */
#img2 {
    padding-top: 30px;
    padding-left: 30px;
    display:inline-block;
}
