* {
    box-sizing: border-box
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
    background-color: black;
    color: aliceblue;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    width: 100%;
    border: 5px black;
    background-color: dimgray;
    color: black;
    z-index: 10000;
}

.menu {
    text-align: center;
    list-style-type: none;
    background-color: dimgray;
    color: #ffffff;
    text-decoration: none;
    display: block;
    color: black;
}

.menu:hover {
    background-color: orange;
}

body {
    background-image: url(basketball_court_3d_wallpaper.jpg);
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

fieldset {
    background-color: black;
    opacity: .75;
    color: aliceblue;
    padding: 2px;
}

table {
    width: 100%;
    background-color: grey;
    border: 1px solid black;
    color: #333333;
    border-collapse: collapse;
}

td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.playertable {
    height: 450px;
    overflow-x: auto;
}

#logo {
    height: 75px;
}

#logo:hover {
    background-color: orange;
}

.index {
    background-color: black;
    opacity: .75;
    color: aliceblue;
    padding: 3px;
    margin-top: 40px;
    margin-right: 5px;
    border: solid 10px;
    border-color: dimgrey;
}

.round {
    display: inline-block;
    opacity: 0.5;
}

.contains {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.round:hover {
    opacity: 1.0;
}

.news {
    background-color: aliceblue;
    opacity: 1;
}
