body {
    background-color: #dad9d4;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 24em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 1px solid #dad9d4;
}

tr:nth-child(even) {
    background-color: #dad9d4;
}

fieldset {
    text-align: left;
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

fieldset div {
    text-align: center;
}

input[type=text] {
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

input[type=submit] {
    border-radius: 0px;
    background-color: rgb(232,232,232);
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

#banner {
    text-align: left;
    top: 0;
    padding: 1em;
    background-color: black;
    color: white;
}

#closer img {
    visibility: hidden;
}

#closer {
    text-align: left;
    bottom: 0;
    padding: 1em;
    background-color: black;
}

#frame {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 90%;
    font-family: sans-serif;
}
